/* body {
    background-color: burlywood;
} */
 /* Resetear estilos */
  *{
    margin: 0;
    padding: 0;
  }

header{
    background-color: #007acc;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

nav ul li{
    margin: 0 15px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

h1 {
    color: blue;
}

h2 {
    color: green;
}

h3 {
    color: orange;
}

/*estilos footer*/
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.contenido {
    padding: 40px;
    text-align: center;
}
.formulario{
    max-width: 500px;
    margin: 30px auto;
    background-color: #cc3131;
    padding: 20px;
    border-radius: 8px;
    
}
.formulario label{
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: white;
}
-formulario input, 
.formulario textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.formulario button{
    margin-top:15px;
    background-color: #291e21;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.formulario button:hover{
    background-color: #555;
}